
{% extends "main.html"%}
{% block content %}
{% block display%}
{% if user.is_authenticated %}
<div class = "h3_1">
    <h3> You want memories between </h3><br>
</div>
<form action="display" method="POST">
{% csrf_token %}
<div class="datepicker_2">	
    <label> Date </label> <br>
    <input id="datepicker" width="300" name="from" />
    <script>
        $('#datepicker').datepicker({
          uiLibrary: 'bootstrap4'
        });
  </script> 
</div>

<button class="button button2">Fetch</button>
</form>
{% else %}
  <h2 style="margin-left: 40%;" style="margin-bottom: 10%;"> Kindly Login to continue</h2> 
  {% endif %}

{% endblock %}
{% endblock %}